

# python stuff
*.pyc
__pycache__
.cache

# build artifacts
build/
dist/
*.egg-info/
installed.files
prefix/

# coverage
.coverage
coverage.xml
htmlcov/

# virtualenv
venv/
venv3/

# vim
*.swp
*.swo

# Pycharm
.idea
